.buffalo {
  height: 100%;
  width: 80vw;
  margin-left: 3%;
  flex-shrink: 0;
  background-image: url(/src/img/08_img_slide.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
