.buffalo {
  height: 100%;
  width: 80vw;
  margin-left: 4%;
  flex-shrink: 0;
  background-image: url("/src/img/08_img_slide.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.buffalo:hover {
  background-image: url("/src/img/09_img_slide.png");
}
