button {
  width: 348px;
  height: 101px;
  text-decoration: None;
  border-radius: 44px;
  border: 5px solid #e8da61;
  background: #fff;
}
button:hover {
  border: 6px solid #fff;
  background: #e8da61;
}

.button {
  display: flex;
  padding-left: 1020px;
  padding-top: 600px;
}
