.cave {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
  position: relative;
  background-image: url("/src/img/03_img_grotte.png?as=webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
