.corpse {
  height: 9000px;
  width: 100vw;
  flex-shrink: 0;
  background-image: url("/src/img/10_img_corpse.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
