.automn {
  height: 300%;
  width: 100vw;
  flex-shrink: 0;
  border: black 5px solid;
  background-image: url("/src/img/10_img_corpse.png");
  background-repeat: no-repeat;
  background-color: #d6939a;
  opacity: 1;
  transition: opacity 1s;
}
