header {
  height: 120vh;
  background-image: url("/src/img/01_img_homepage.png?as=webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 70%;
}

header svg {
  margin-left: 720px;
  margin-top: 100px;
}
