header {
  height: 100vh;
  background-image: url("/src/img/01_img_homepage.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
}

svg {
  margin-left: 720px;
  margin-top: 32px;
}
