header {
  height: 100vh;
  background-image: url("/img/01_img_homepage.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 70%;
}

.scroll-indication {
  padding-top: 100 px;
}
