.sabre-cave {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  background-image: url("/src/img/11_img_automne.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
