.sabre-cave {
  height: 100vh;
  width: 100vw;
  background-image: url("/src/img/11_img_automne.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 1s;
}

.sabre-cave:hover {
  opacity: 90%;
  background-image: url("/src/img/12_img_snow.png");
}
