.space {
  height: 100%;
  height: 288vh;
  background-color: black;
  background-image: url("/src/img/02_img_space.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: relative;
}

.space-text {
  margin-top: 60%;
  margin-left: 4%;
  width: 895px;
  height: 195px;
  border: 17px solid #000;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.space-text p {
  width: 595px;
  display: flex;
  justify-content: center;
  align-items: center;
}
