.tigers {
  background-image: url("/src/img/05_img_ciel.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.tigers-image {
  width: 100%;
  height: 90vh;
  position: absolute;
  bottom: 0px;
  background-image: url("/src/img/06_img_tigres.png");
  background-repeat: no-repeat;
}

.tigers-jumping-sabre {
  width: 100%;
  height: 1000px;
  position: absolute;
  left: -19%;
  bottom: -880px;
  background-image: url("/src/img/07_img_saut.png");
}
