.tigers {
  background-image: url("/src/img/05_img_ciel.png");
}

.tigers-image {
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  background-image: url("/src/img/06_img_tigres.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
