.winter {
  height: 7000px;
  width: 100vw;
  position: absolute;
  background-image: url("/src/img/14_img_snow.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.winter-text {
  width: 798px;
  height: 368px;
  margin-left: 81px;
  margin-top: 730px;
}

.winter-text p {
  padding: 20px;
}
