.winter {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("/src/img/14_img_snow.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
