* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
* {
  box-sizing: border-box;
}

p {
  color: #000;
  font-family: "Nova Square";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 40px */
}

.scroller-stroll {
  height: 100vh;
  overflow: hidden;
  transform-origin: center center;
}

.screens-stroll {
  display: inline-flex;
  height: 100%;
}
.space,
.cave,
.savane,
.tigers {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
  position: relative;
}

.fade {
  height: 300%;
  width: 100vw;
  flex-shrink: 0;
  border: white 5px solid;
  mix-blend-mode: multiply;
}

.automn {
  height: 300%;
  width: 100vw;
  flex-shrink: 0;
  border: black 5px solid;
  background-color: #d6939a;
  opacity: 1;
  transition: opacity 1s;
}

.winter {
  height: 300%;
  width: 100vw;
  flex-shrink: 0;
  border: black 5px solid;
  background-color: white;
  object-fit: cover;
}

footer {
  height: 300%;
  width: 100vw;
  flex-shrink: 0;
  border: #e8da61 5px solid;
}
