* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
* {
  box-sizing: border-box;
}

p {
  color: #000;
  font-family: "Nova Square";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 40px */
}
