* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
* {
  box-sizing: border-box;
}

.scroller-stroll {
  height: 100vh;
  overflow: hidden;
  transform-origin: center center;
}

.screens-stroll {
  display: inline-flex;
  height: 100%;
}
.space,
.cave,
.savane,
.tigers {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
  position: relative;
}
