* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
* {
  box-sizing: border-box;
}

p {
  color: #000;
  font-family: "Nova Square";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 40px */
}

.scroller-stroll {
  height: 100vh;
  border: white 5px solid;
  overflow: hidden;
  transform-origin: center center;
}

.screens-stroll {
  display: inline-flex;
  border: black 5px solid;
  height: 100%;
}
