h1 {
  color: #fff;
}
p {
  color: #000;
  font-family: "Nova Square";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 40px */
}

a {
  color: #000;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 125%; /* 80px */
  letter-spacing: 5.12px;
}
